:root {
  --green-1: #99edc3;
  --green-2: #3ded97;
  --black: #000;
  --yellow: #fefbbd;
  --purple-1: #d6b4fc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.app-wrapper {
  padding: 2rem 0;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-height: 600px;
  margin: 0 auto;
  color: var(--black);
  border: 3px solid var(--green-1);
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.nav-wrapper {
  text-align: center;
  position: relative;
}

.logo {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-right: 0.5rem;
}

.logo-name {
  margin: 10px 0;
}

.theme-mode-icon {
  position: absolute;
  right: 20px;
  top: 0px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 50px;
  height: 24px;
  background: var(--black);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--green-1);
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

.task-list {
  padding: 20px;
}

.task-list ul {
  padding: 0;
  list-style: none;
}

.task-list li {
  padding: 10px;
  margin: 10px 0;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.task {
  font-weight: bold;
  font-size: 1.2em;
}

.description {
  font-size: 0.9em;
}

.task-list li.task-completed {
  background-color: var(--green-1);
  text-decoration: line-through;
}

.task-icons {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.complete-icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  cursor: pointer;
}

.delete-icon {
  min-width: 1.2rem;
  min-height: 1.2rem;
  cursor: pointer;
}

.empty {
  text-align: center;
  padding: 20px;
}

form {
  padding: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  border: none;
  background-color: var(--purple-1);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.add-button {
  color: var(--black);
  font-weight: 600;
  margin: 10px auto;
  padding: 10px 30px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--green-1);
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.add-button:active {
  background-color: var(--green-2);
}

.add-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 2rem;
  margin-top: auto;
}

@media (max-width: 576px) {
  .app-wrapper {
    padding: 0;
  }
  .app {
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .add-button {
    width: 100%;
  }

  .footer {
    margin-top: auto;
  }
}
